@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Material+Icons');

$font-family-open-sans: 'Open Sans';

// Color palette
$palette-snow-white: #f5f6fa;
$palette-grayish-blue: #979899;
$palette-deep-blue: #333333;
$palette-decent-blue: #d8d6e2;
$palette-cloud-blue: #538afc;
$palette-tomatoe-red: #fe5260;

// Should attract attention - primary used in intro-boxes
$palette-deep-purple: #512da8;
$palette-bright-purple: #673ab7;
$palette-happy-pink: #D81B60;

// Transition durations
$transition-short: 0.2s;
$transition-mid: 0.3s;
$transition-long: 0.5s;
