@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

$font-family: 'Open Sans';

:root {

    // Color palette
    --palette-pure-white: 254, 253, 255;
    --palette-snow-white: 245, 246, 247;
    --palette-blurry-gray: 208, 210, 217;

    // Theme colors
    --palette-theme-primary: 112, 98, 222;
    --palette-theme-secondary: 124, 109, 237;
    --palette-asphalt: 50, 55, 77;
}

// Static colors
$palette-cloud-blue: #538afc;
$palette-tomatoe-red: #e63b41;
$palette-sunshine-yellow: #f5bd00;

// Transparency pattern
$pattern-transparency: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="rgba(155, 155, 155, 0.2)" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
